{
	"presets": [
		[
			"@babel/preset-env"
		],
		"@babel/preset-react"
	],
	"env": {
		"development": {
			"plugins": []
		},
		"production": {
			"plugins": [
			]
		}
	},
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties"
		],
		"@babel/plugin-transform-runtime"
	]
}
