{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": 2
			}
		],
		"@babel/preset-react"
	],
	"env": {
		"development": {
			"plugins": []
		},
		"production": {
			"plugins": [
				[
					"transform-remove-console",
					{
						"exclude": [
							"error",
							"warn",
							"info"
						]
					}
				]
			]
		}
	},
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		"@babel/plugin-transform-runtime"
	]
}
