{
    "extends": ["eslint:recommended","plugin:react/recommended"],
    "rules":{
        "space-infix-ops":"warn",
        "no-unused-vars":"warn",
        "no-undef":"off"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "@babel/eslint-parser",
    "plugins": [
        "react"
    ]
}
