.remind.theme-box{
	background-color: rgb(31, 41, 52);
	.remind-scroll .remind-page{
		.shape-ellipse {
			background-color:rgb(31, 41, 52);
			border:3px solid rgb(32,165,161);
			font-size: 48px;
			padding:20px;
			color:rgb(32,165,161);
			.item-text{
				color:rgb(32,165,161);
				font-size:28px;
			}
		}
		.shape-box {
			background-color:rgb(32,165,161);
			color: #000;
			padding: 10px 20px;
			border-radius: 10px;
			>.children .shape-box{
				>.content{
					background-color:transparent;
					border: none;
					color:rgb(32,165,161);
					padding:5px;
					font-size: 22px;
				}
				
			}
		}	
		.shape-blank { 
			background-color:transparent;
			border: none;
			color:rgb(32,165,161);
			padding:5px;
			font-size: 22px;
		}	
	}
		
}