.remind.theme-stright{
	background-color: rgb(244, 249, 250);
	.remind-page{
		.shape-ellipse {
			border-radius: 10px;
			background-color:#ff383e!important;
			border:3px solid rgba(255,141,143,1);
			padding:20px;
			.item-text{
				font-size:28px;
			}
		}
	}
}