.remind-item {
	position: absolute;
    top:0;
    left:0;
    padding: 4px 10px;
    color: #123;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    // z-index: 1;
    &::before{
        content: ' ';
        width:100%;
        height: 100%;
        position: absolute;
        top:-4px;
        left:-4px;
        padding:2px;
        display: none;
    }
    .item-text{
        display: inline-block;
        border:none;
        outline: none;
        white-space: nowrap;
    }
	.item-icon {
		z-index: 1;
		display: inline-block;
	}
    .remind-toggle{
        position: absolute;
        right:-15px;
        top:calc(50% - 6px);
        display: none;
        cursor: pointer;
        padding-left:4px;
        >div{
            width:12px;
            height: 12px;
            border:1px solid #4a90e2;
            border-radius: 6px;
            text-align: center;
            display: inline-block;
            background: #fff;
            color: black;
            font-size: 12px;
            line-height: 8px;
        }
        >.toggle-off{
            display: block;
        }
        >.toggle-on{
            display: none;
        }
        &:hover{
            display: block;
        }
        &.toggled{
            display: block;
            >.toggle-off{
                display: none;
            }
            >.toggle-on{
                display: block;
            }
        }
    }
    &:hover{
        .remind-toggle{
            display: block;
        }
        &::before{
            border:2px solid #779ecc;
            display: block;
        }
    }
    &.active{
        .remind-toggle{
            display: block;
        }
        &::before{
            border:2px solid #0775f3;
            display: block;
        }
    }
}
@import 'theme/index.less';

.shape-box{
    background-color: #4a90e2;
	color:#fff;
}
.shape-underline {
	padding: 4px 5px;
}
.shape-ellipse{
    padding: 10px 10px;
	color:#fff;
	background-color: #39ac03;
}
 
.mm-note{
	display: flex;
	flex-direction: column;
	position: absolute;
	top:80px;
	left:0px;
	z-index: 2;
	background: #fff;
	transition: opacity,height 300ms ease-in;
	overflow: hidden;
	width:300px;
	border:1px solid #efefef;
	border-radius: 3px;
	box-shadow: 2px 2px 20px 1px rgba(0,0,0,.2);
	.note-util{
		height: 30px;
		width:100%;
		border-bottom:1px solid #efefef;
		padding-left: 10px;
    	padding-top: 4px;
	}
	.note-content{
		height:300px;
		width:100%;
		overflow:scroll;
		p{
			white-space: pre-line;

			padding:10px;
			outline: none;
			height:300px;
			width:100%;
		}
	}
}
.mm-note.hide{
	height:0;
	opacity: 0;
}