.item {
	position: absolute;
	.re-mind-icon {
		display: inline-block;
	}
}

.item.cut {
	opacity: 0.5;
}

.item.collapsed .children {
	display: none;
}

.shape-box > .content {
	padding: 0.15em 0.4em;
	background-color: #4a90e2;
	color: #fff;
	border-radius: 3px;
}

.shape-ellipse > .content {
	border: 1px solid transparent;
	padding: 10px 20px;
	color: #fff;
}

/* root */
> .item > .content {
	font-weight: bold;
	border-width: 2px;
	font-size: 140%;
	color: #fff;
	border: 0;
	background-color: rgb(80, 194, 139);
}

> .item > .toggle {
	display: none;
}

/* 1st children */

> .item > .children > .item > .content {
	border-width: 2px;
	font-size: 120%;
}

> .item .icon {
	margin: 0 0.5em 0 0;
	font-size: x-large;
}

.content {
	display: flex;
	position: absolute;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
	> * {
		vertical-align: middle;
	}
	.text {
		text-align: left;
		display: inline-block;
		text-align: center;
		min-height: 1.3em;
		word-wrap: break-word;
		white-space: nowrap;
		word-break: break-all;
		// line-height: 1.3em;
		font-weight: normal;
		outline: none;
	}

	.value,
	.status {
		margin-right: 0.2em;
	}

	.text ~ .value,
	.text ~ .status {
		margin-left: 0.2em;
		margin-right: 0;
	}

	.value {
		opacity: 0.7;
		display: none;
	}

	.value:not(:empty):before {
		content: "(";
	}

	.value:not(:empty):after {
		content: ")";
	}
}
.current > .content {
	&:before {
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		left: -6px;
		top: -6px;
		box-sizing: content-box;
		border: 2px solid #7cb9ff;
		padding: 4px;
	}
}
// 第三级以后的节点外壳hover
> .item > .children > .item > .children .current > .content:before {
	left: -2px;
	top: -2px;
	padding: 0px;
}

:not(.current):not(.collapsed) > .toggle {
	/* NOT display:none - we need to have non-zero dimensions for layouting */
	visibility: hidden;
}
