.menu {
	position: absolute;
    z-index: 1;
    /* border: 1px solid #666; */
    background-color: #fff;
    box-shadow: 0 0 5px 0px #666;
	border-radius: 2px;
	padding:10px 0;
}

.menu button {
	display: block;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 3px 6px;
	font-size: 15px;
	width: 130px;
	text-align: left;
	cursor: pointer;
}

.menu button:hover {
	background: #0ae;
	color: #fff
}

.menu span {
	display: block;
	border-top: 1px solid #eee;
	margin-top: 4px;
	padding-top: 4px;
}
